<ion-content fullscreen>
    <ion-grid [formGroup]="budgetCalcForm">
        <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-md="6">
                <ion-card>
                    <ion-card-header color="primary">
                        <div class="d-flex justify-content-center justify-content-sm-between align-items-center flex-wrap">
                            <ion-card-title class="title p-2 text-center fw-bold">
                                Monthly Expenses
                            </ion-card-title>
                            
                            <ion-button (click)="presentModal(expense)" id="expense" #expense class="pb-2" color="light" role="buttons" slot="end" size="default" title="Add an expense">
                                <ion-icon name="add-outline" slot="start"></ion-icon>
                                Add Expense
                            </ion-button>
                        </div>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-list *ngFor="let budgetItem of budgetItems">
                            <div *ngIf="budgetItem.type === 'expense'" class="d-flex flex-wrap justify-content-center align-items-center justify-content-md-between">
                                <ion-item class="ion-margin-top ion-item">
                                    <ion-label class="fs-5">
                                        {{ budgetItem.description }}
                                    </ion-label>
                                </ion-item>
                                <ion-list slot="end">
                                    <ion-item class="ion-item">
                                        <!-- <ion-item> -->
                                            <!-- <ion-input type="tel" value="0" class="l"></ion-input> -->
                                            <!-- <input type="tel" formControlName="expense" value="{{ budgetItem.amount }}" class="form-control ms-1 l"> -->
                                            <input type="tel" (input)="updateBudgetItem(budgetItem.id, $event)" value="{{ budgetItem.amount }}" class="expense form-control ms-1 l">
                                        <!-- </ion-item> -->
                                        <ion-button (click)="removeBudgetItems(budgetItem.id)" color="danger" size="default" title="Delete expense" class="ion-margin-start">
                                            <ion-icon name="trash-outline"></ion-icon>
                                        </ion-button>
                                    </ion-item>
                                </ion-list>
                            </div>
                        </ion-list>
                    </ion-card-content>
                    <ion-card-header color="primary">
                        <div class="d-flex justify-content-center justify-content-md-between align-items-center flex-wrap">
                            <ion-card-title class="title p-2 text-center fw-bold">
                                Total Monthly Expenses
                            </ion-card-title>
                            
                            <input type="tel" formControlName="total_expense" value="0" class="form-control ms-1 l">
                        </div>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col size="12" size-md="6">
                <ion-card>
                    <ion-card-header color="primary">
                        <div class="d-flex justify-content-center justify-content-sm-between align-items-center flex-wrap">
                            <ion-card-title class="title p-2 text-center fw-bold">
                                Monthly Income
                            </ion-card-title>
                            
                            <ion-button (click)="presentModal(income)" id="income" #income class="pb-2" color="light" role="buttons" slot="end" size="default" title="Add an income">
                                <ion-icon name="add-outline" slot="start"></ion-icon>
                                Add Income
                            </ion-button>
                        </div>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-list *ngFor="let budgetItem of budgetItems">
                            <div *ngIf="budgetItem.type === 'income'" class="d-flex flex-wrap justify-content-center align-items-center justify-content-md-between">
                                <ion-item class="ion-margin-top ion-item">
                                    <ion-label class="fs-5">
                                        {{ budgetItem.description }}
                                    </ion-label>
                                </ion-item>
                                <ion-list slot="end">
                                    <ion-item class="ion-item">
                                            <!-- <input type="tel" formControlName="income" value="{{ budgetItem.amount }}" class="form-control ms-1 l"> -->
                                            <input type="tel" (input)="updateBudgetItem(budgetItem.id, $event)" value="{{ budgetItem.amount }}" class="income form-control ms-1 l">
                                        <ion-button (click)="removeBudgetItems(budgetItem.id)"color="danger" size="default" title="Delete expense" class="ion-margin-start">
                                            <ion-icon name="trash-outline" (click)="removeBudgetItems(budgetItem.id)"></ion-icon>
                                        </ion-button>
                                    </ion-item>
                                </ion-list>
                            </div>
                        </ion-list>
                        
                    </ion-card-content>
                    <ion-card-header color="primary">
                        <div class="d-flex justify-content-center justify-content-md-between align-items-center flex-wrap">
                            <ion-card-title class="title p-2 text-center fw-bold">
                                Total Monthly Income
                            </ion-card-title>
                            
                            <input formControlName="total_income" type="tel" value="0" class="form-control ms-1 l">
                        </div>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>

        <!-- <ion-row class="ion-justify-content-center">
            <ion-col size-md="6">
                <ion-card>
                    <ion-card-header color="primary">
                        <div class="d-flex justify-content-center justify-content-sm-between align-items-center flex-wrap">
                            <ion-card-title class="title p-2 text-center fw-bold">
                                Monthly Income
                            </ion-card-title>
                            
                            <ion-button class="pb-2" color="light" role="buttons" slot="end" size="default" title="Add an expense">
                                <ion-icon name="add-outline" slot="start"></ion-icon>
                                Add Income
                            </ion-button>
                        </div>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-list>
                            <div class="d-flex flex-wrap justify-content-center align-items-center justify-content-md-between">
                                <ion-item class="ion-margin-top ion-item">
                                    <ion-label class="fs-5">
                                        Salary
                                    </ion-label>
                                </ion-item>
                                <ion-list slot="end">
                                    <ion-item class="ion-item">
                                        <ion-item> -->
                                            <!-- <ion-input type="tel" value="0" class="l"></ion-input>
                                            <input type="tel" value="0" class="form-control ms-1 l">
                                        </ion-item>
                                        <ion-button color="danger" size="default" title="Delete expense" class="ion-margin-start">
                                            <ion-icon name="trash-outline"></ion-icon>
                                        </ion-button>
                                    </ion-item>
                                </ion-list>
                            </div>
                        </ion-list>
                        
                    </ion-card-content>
                    <ion-card-header color="primary">
                        <div class="d-flex justify-content-center justify-content-sm-between align-items-center flex-wrap">
                            <ion-card-title class="title p-2 text-center fw-bold">
                                Total Monthly Expenses
                            </ion-card-title>
                            
                            <input type="tel" value="0" class="form-control ms-1 l">
                        </div>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row> -->

        <ion-row class="ion-justify-content-center">
            <ion-col size-md="5">
                <ion-card>
                    <ion-card-header color="primary">
                        <div class="d-flex justify-content-center justify-content-sm-between align-items-center flex-wrap">
                            <ion-card-title class="title p-2 text-center fw-bold">
                                Total Monthly Net
                            </ion-card-title>
                            
                            <input formControlName="total_budget" type="tel" value="0" class="form-control ms-1 l">
                        </div>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>

    </ion-grid>
    
</ion-content>