.column{
    margin-top: 5rem;
}

.title{
    font-family: Montserrat, sans-serif;
}

.ion-item{
    --border-width: 0;
    --border-color: #fff;
}

ion-list{
    padding-bottom: 0;
}

.l{
    width: 100%;
    max-width: 120px;
}