<ion-content fullscreen>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col size-md="6">
                <ion-card>
                    <ion-card-content>
                        <ion-card-header color="primary rounded">
                            <div class="d-flex justify-content-center justify-content-sm-between align-items-center flex-wrap">
                                <ion-card-title class="title p-2">
                                    Monthly Expenses
                                </ion-card-title>
                                
                                <ion-button class="pb-2" role="buttons" slot="end" size="default" title="Add an expense">
                                    <ion-icon name="add-outline" slot="start"></ion-icon>
                                    Add Expense
                                </ion-button>
                            </div>
                        </ion-card-header>
                        <div class="d-flex flex-wrap justify-content-between">
                            <ion-item class="ion-margin-top ion-item">
                                <ion-label>
                                    Snacks
                                </ion-label>
                                <!-- <ion-label position="floating">
                                    Snacks
                                </ion-label> -->
                                <!-- <ion-input type="tel">
                                </ion-input> -->
                            </ion-item>
                            <ion-list slot="end">
                                <ion-item class="ion-item">
                                    <ion-item>
                                        <ion-input type="tel" value="0" class="l"></ion-input>
                                    </ion-item>
                                    <ion-button color="danger" size="default" title="Delete expense">
                                        <ion-icon name="trash-outline"></ion-icon>
                                    </ion-button>
                                </ion-item>
                            </ion-list>
                        </div>
                        
                        <!-- <ion-item class="ion-margin-top">
                            <ion-label position="floating">
                                Transport
                            </ion-label>
                            <ion-input type="tel">
                            </ion-input>
                        </ion-item> -->
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>