.column{
    margin-top: 5rem;
}

.title{
    font-family: Montserrat, sans-serif;
}

.ion-item{
    --border-width: 0;
    --border-color: #fff;
}

ion-list{
    padding-bottom: 0;
}

.l{
    width: 100%;
    max-width: 180px;
}

.x.sc-ion-loading-md-h {
    --backdrop-opacity: 1 !important;
}