<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center fs-3">
      {{ modalTitle }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  
  <form class="ion-margin-top" [formGroup]="addBudgetForm">
    <ion-item class="ion-margin-bottom">
      <ion-label position="floating">Description</ion-label>
      <ion-input type="text" formControlName="description" required></ion-input>
    </ion-item>

    <div class="alert" *ngIf="controls().description.errors && (controls().description.dirty || controls().description.touched || submitted)">
      <span *ngIf="controls().description.errors?.required" class="text-danger fw-bold">Description is required</span>
    </div>
    
    <ion-item class="ion-margin-bottom">
      <ion-label position="floating">Estimated Budget</ion-label>
      <ion-input type="tel" formControlName="budget" required></ion-input>
    </ion-item>

    <div class="alert d-flex flex-column" *ngIf="controls().budget.errors && (controls().budget.dirty || controls().budget.touched || submitted)">
      <span class="text-danger fw-bold" *ngIf="controls().budget.errors?.required">Budget is required</span>
      <span class="text-danger fw-bold" *ngIf="controls().budget.errors?.pattern">Budget needs to be a number.</span>
    </div>

    <div class="ion-padding ion-float-right">
      <ion-button size="default" (click)="dismiss()">Cancel</ion-button>
      <ion-button size="default ion-margin-start" (click)="addBudget()">Save</ion-button>
    </div>
  </form>

</ion-content>