<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center fs-3">
      {{ modalTitle }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  
  <form class="ion-margin-top" [formGroup]="addBudgetForm">
    <ion-item class="ion-margin-bottom">
      <ion-label position="floating">Description</ion-label>
      <ion-input type="text" formControlName="description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Estimated Budget</ion-label>
      <ion-input type="tel" formControlName="budget"></ion-input>
    </ion-item>

    <div class="ion-padding ion-float-right">
      <ion-button size="default" (click)="dismiss()">Cancel</ion-button>
      <ion-button size="default ion-margin-start" (click)="addBudget()">Save</ion-button>
    </div>
  </form>

</ion-content>