<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button *ngIf="!currentPageHome" defaultHref="/"></ion-back-button>
    </ion-buttons> 
    
      <ion-title class="title fw-bold fs-2 ion-padding" routerLink="/" role="button">
        SaveMyPennies
      </ion-title>
      <ion-button (click)="presentModal()" size="small" slot="end" class="ion-hide-lg-down"> 
        Create a Budget
      </ion-button>
      <ion-buttons slot="end" class="ion-padding ion-hide-lg-down">
        
        <ion-item class="auth-link" (click)="presentPopOver($event)" color="undefined" lines="none" detail>
          <ion-label role="button">
            My Budgets
          </ion-label>
        </ion-item>

        <ion-text routerLink="/login" color="light ion-padding auth-link" role="button">
          Sign in
        </ion-text> /
        
        <ion-text routerLink="/register" color="light ion-padding auth-link" role="button">
          Sign up
        </ion-text>
      </ion-buttons>
      <ion-buttons slot="end" class="ion-padding ion-hide-lg-up">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>