<ion-header>
  <ion-toolbar color="dark">
      <ion-title class="title fw-bold fs-2 ion-padding">
        SaveMyPennies
      </ion-title>
      <ion-buttons slot="end" class="ion-padding ion-hide-sm-down">
        <ion-text routerLink="/login" color="light ion-padding auth-link" role="button">
          Sign in
        </ion-text> /
        
        <ion-text routerLink="/register" color="light ion-padding auth-link" role="button">
          Sign up
        </ion-text>
      </ion-buttons>
      <ion-buttons slot="end" class="ion-padding ion-hide-sm-up">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>