<ion-app>
  <ion-menu type="overlay" contentId="main">
    <ion-header>
      <ion-toolbar color="dark">
          <ion-title class="title fw-bold fs-2 ion-padding">
            SaveMyPennies
          </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-button expand="block" class="ion-margin" (click)="presentModal()">
            Create a Budget
          </ion-button>
        </ion-menu-toggle>
        <ion-item id="click-trigger" button lines="full" detail>
          <ion-label>
            My Budgets
          </ion-label>
        </ion-item>

        <ion-popover trigger="click-trigger" [dismissOnSelect]="true">
          <ng-template>
              <ion-menu-toggle>
                <ion-item button lines="full">
                  <ion-label>
                    Click
                  </ion-label>
                </ion-item>
                <ion-item button lines="full">
                  <ion-label>
                    Click
                  </ion-label>
                </ion-item>
                <ion-item button lines="full">
                  <ion-label>
                    Click
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
          </ng-template>
        </ion-popover>

        <ion-menu-toggle>
          <ion-item routerLink="/login" lines="full">
            <ion-label>
              <ion-text class="auth-link" role="button">
                Sign In
              </ion-text>
            </ion-label>
          </ion-item>
          <ion-item routerLink="/register" lines="full">
            <ion-label>
              <ion-text class="auth-link" role="button">
                Sign Up
              </ion-text>
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>