<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <ion-button class="text-white" target="_blank" href="https://ionicframework.com/docs/components" rel="noopener noreferrer">
          UI Components
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
